[Unit]
Description=Hearth-Connect Server
After=network.target

[Service]
Type=simple
User=dadisc01
WorkingDirectory=/home/dadisc01/Documents/git/hearth-connect/server
ExecStart=/home/dadisc01/.local/share/pi-node/node-v22.23.1-linux-x64/bin/node /home/dadisc01/Documents/git/hearth-connect/server/dist/index.js --tls
Restart=on-failure
RestartSec=5
Environment=SERVER_PORT=8090
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
